main {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 100px;
}

h2 {
  background-color: var(--main-title-bg);
  color: var(--main-text);
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 20px;
}
